<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>AstroNot Impossible To Reach The Stars</title>
    <meta name="description" content="Happiness data collector">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>

    <!-- background and header -->
    <div>
    </div>

    <!-- all the other stuff -->
    <form method='POST' action='/result'>
        <label for="age">Age:</label>
        <input type="text" id="age" name="age"><br><br>
        <label for="weight">Weight on Earth:</label>
        <input type="text" id="weight" name="weight"><br><br>
        <label for="planet">What Planet are you travelling to:</label>
        <select name="planet_dropdown">
            <option value='Mercury'>Mercury</option>
            <option value='Venus'>Venus</option>
            <option value='Mars' selected="selected">Mars</option>
            <option value="Jupiter">Jupiter</option>
            <option value='Saturn'>Saturn</option>
            <option value='Uranus'>Uranus</option>
            <option value='Neptune'>Neptune</option>

        </select>

        <!-- Launch button -->

        <button id="launch_btn" type="submit">Launch</button>
    </form>


</body>

</html>