<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>AstroNot Impossible To Reach The Stars</title>
    <meta name="description" content="AstroNot Impossible To Reach The Stars">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>

    <!-- background and header -->
    <div>
        <div>
            <h1>AstroNot Impossible To Reach The Stars</h1>
        </div>
    </div>


    <!-- Instructions -->
    <div id="Description">
        <div>
            <p>Website, which helps you to get feel about being an astronaut</p>
        </div>
    </div>

    <!-- Take-off button -->
    <form method='GET' action='/data'>
        <button id="take_off_btn" type="submit">Take off</button>
    </form>


</body>

</html>