<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
        <meta name="description" content="AstroNot Impossible To Reach The Stars">

        <title>AstroNot Impossible To Reach The Stars</title>

        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin = "anonymous">
        
        <!-- Importing Fonts -->
        <link href = "https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel = "stylesheet">
        <!-- CSS Stylesheet -->
        <link rel = "stylesheet" href = "../static/land-styles.css">
    </head>

    <body>
        <!-- Container -->
        <div class = "container">

            <!-- Header -->
            <div class = "header">
                <h1>AstroNot Impossible<br>🚀 To Reach The Stars 💫</h1>
            </div>

            <!-- Main Body -->
            <div class = "body">
                <!-- Instructions -->
                <div class = "description">
                    <p>Website, which helps you to get feel about being an astronaut!</p>
                </div>
                
                <!-- Take-Off Button -->
                <div class = "button-container">
                    <div class = "button">
                        <form method = 'GET' action = '/data'>
                            <button type = "submit"><img src = "rocket.png" alt = "Rocket"><br>Take Off</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class = "footer">
                <p>Made by MLH Participants<br>Copyright © 2020. All rights reserved.</p>
            </div>
        </div>
    </body>
</html>